<div>
    <h1>Registrate aquí</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <br />
        <label>Apellido</label>
        <input name="last_name">
        <br />
        <label>Email</label>
        <input name="email">
        <br />
        <label>Edad</label>
        <input name="age">
        <br />
        <label>Contraseña</label>
        <input name="password">
        <br />

        <button type="submit">Aceptar</button>
    </form>

    <p>
        Si ya tenes cuenta, ingresá aquí: <a href="/users/login"></a>
    </p>
</div>

<script src="../public/js/register.js"></script>